.ant-menu-horizontal > .ant-menu-item::after {
  display: none !important;
}

.custom-menu.ant-menu-horizontal {
  background-color: #f9fafb !important;
  border-bottom: none !important;
}

.custom-menu.ant-menu-horizontal .ant-menu-item:hover,
.custom-menu.ant-menu-horizontal .ant-menu-item a:hover {
  color: #dc2626 !important;
}

.custom-menu.ant-menu-horizontal .ant-menu-item-selected > a {
  color: #dc2626 !important;
}

.custom-menu.ant-menu-horizontal .ant-menu-item-selected .ant-menu-item-icon,
.custom-menu.ant-menu-horizontal .ant-menu-item:hover .ant-menu-item-icon {
  color: #dc2626 !important;
}

.custom-menu.ant-menu-horizontal .ant-menu-item a {
  color: inherit !important;
}

.custom-menu.ant-menu-horizontal .ant-menu-item:hover .ant-menu-title-content a,
.custom-menu.ant-menu-horizontal .ant-menu-item:hover .anticon {
  color: #dc2626 !important;
}

.custom-menu.ant-menu-horizontal
  .ant-menu-item-selected
  .ant-menu-title-content
  a,
.custom-menu.ant-menu-horizontal .ant-menu-item-selected .anticon {
  color: #dc2626 !important;
}
